.documentation {
    margin-bottom: 30px;
}

.documentation .title {
    font-size: 15px;
}

.documentation .parameters {
    width: 100%;
    text-align: left;
    font-size: 13px;
    border-collapse: collapse;
}

.documentation .parameters th
{
    border-bottom:1px solid;
}

.documentation .parameters td
{
    padding-top: 3px;
}

.documentation .parameters th,
.documentation .parameters td {
    vertical-align: top;
    border-right:1px solid;
    border-color: #555555;
    padding-left: 3px;
    min-width: 100px;
    max-width: 200px;
}

.documentation .parameters th:last-child, 
.documentation .parameters td:last-child  {
    border-right: none;
}

.documentation .parameters td p {
    margin: 0;
}
